@use "../theme" as *;

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:checked {
      background-color: $color-secondary;
      border-color: $color-secondary;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $color-white;
      }
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.8);
    }
  }

  label {
    font-size: 14px;
    color: $color-text;
    cursor: pointer;
  }
}