@use "theme" as *;

.product-list-page {
  display: grid;
  gap: 50px;

  &.list-type-1 {
    grid-template-columns: auto auto auto auto;
  }
}

// Desktop
@media (min-width: 768px) {
  .product-list-page {
    grid-template-columns: 170px auto;

    &.list-type-1 {
      grid-template-columns: auto auto auto;
    }
  }
}

// mobile
@media (max-width: 768px) {
  .product-list-page {
    grid-template-columns: 1fr;

    &.list-type-1 {
      grid-template-columns: auto auto;
    }
  }
}
