@use "theme" as *;

.sizes-filter {
  display: flex;
  gap: 5px;
  flex-flow: wrap;

  .square {
    width: 32px;
    height: 32px;
    padding: initial;
    border: 1px solid rgb(0, 0, 0, 50%);

    > span {
      font-family: $font-family-base;
      font-weight: $font-weight-normal;
      font-size: $font-size-base;
    }

    &.active {
      span {
        color: $color-black;
      }
    }
  }
}
