@use "theme" as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;

  @media (max-width: $breakpoint-xl) {
    max-width: 1000px;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 800px;
  }

  @media (max-width: $breakpoint-md) {
    max-width: 90%;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
    padding: 0 1rem;
  }
}
